<style>
 
.vertical-menu {
  width: 600px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #04AA6D;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
/*background-color: rgba(255, 255, 255, 0.8);*/
.grid-container > div {
  padding: 20px 0;
 
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 18px;
}

.item2 {
  background-color: aquamarine;
  font-size: 30px;
  text-align: center;
}

.item3 {
  background-color: yellow;
  font-size: 20px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
<h1>Car Service Manager</h1>

<div class="grid-container">
  <div class="item1" >
    <div class="vertical-menu">
      <a href="http://localhost:8080/carservice" class="active">All Dealers</a>
      {{range .Dealers}}
        <a name="dealers" href={{.URLLine}}>{{.MenuLine}}</a>
        {{end}}
      </div>
      <center><b>Select a dealer to filter customers.</b></center>
	  <div class="vertical-menu">
		  <a href="#" class="active">Number of customers: {{.CustomerCount}}</a>
		  {{range .Customers}}
			  <a name="customers" href={{.URLLine}}>{{.MenuLine}}</a>
			  {{end}}
	  </div>
    </div>
    <div class="item2">
      <a href="/carservice/new">Add New Customer</a><p>
      <a href="http://localhost:8080/carservice/transactionsview" class="active">View Transactions</a><p>
      <a href="http://localhost:8080/carservice/promomgmt" class="active">Promotions Managment</a>
      </p>
    </div>
    <div class="item3">
      <b>On this screen you can:</b>
      <ol>
        <li>filter the customer list by dealer (or select "All Dealers").</li>
        <li>Select a customer to view their history and/or request a service.</li>
      </ol>
      <b>The above links allow you to:</b>
      <ol><li>Add New Customer - Add customer to db.</li>
      <li>View Transactions - View, sort and filter Oil Change and Car Wash transactions.</li>
    <li>Promotions - Select customer records and send out promotions.</li> </ol></div> 
    <!-- <div class="item4">glenn4</div>
    <div class="item5">glenn5</div>
    <div class="item6">glenn6</div>
    <div class="item7">glenn7</div>
    <div class="item8">glenn8</div> -->
</div>
